mat-toolbar.header {
  position: sticky;
  margin-top: 0;

  min-width: 250px;
  max-width: 900px;
  top: 0;
  padding-left: 24px;
  font-size: 1em;
  z-index: 1000;
}
nav a.hover {
  text-decoration: none;
}
nav a.mat-tab-link {
  min-width: 75px;
  text-decoration: none;
}
nav mat-icon {
  position: absolute;
  top: 50%; /* Center vertically */
  left: 50%;
  font-size: 2em;
  transform: translate(-50%, -50%); /* Adjust for icon’s dimensions */
  visibility: hidden;
  height: 26px;
  width: 26px;
}
nav a:hover mat-icon,
nav a:active mat-icon {
  visibility: visible;
}
nav a:hover span,
  nav a:active span
    /*nav a[ng-reflect-active="true"] span */ {
  visibility: hidden;
}
